<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{{body}}}

    
    <a href="/signin">Sign In Page</a>
    <br />
    <a href="/login">Log In Page</a>
    <br />
    <a href="/logout">Log out</a>
    <br />
    <br />
    <a href="/main">Public route</a>
    <br />
    <a href="/private">Private route</a>
    <br /><a href="/">Back to home</a>

    <script src="/js/script.js"></script>
  </body>

</html>