<h2>Sign in page</h2>
<form action="/signin" method="post">
<label for="">Uername</label>
<input type="email" name="username" placeholder="Username">
<br>
<label for="">Password</label>
<input type="password" name="password" placeholder="password">
<br>
<button type="submit">Submit</button>



</form>
